<template>
  <section class="welcome">
    <b-container fluid="xxl">
      <b-row>
        <b-col cols="12" md="12" lg="6" class="px-0">
          <div class="welcome__texto">
            <h2> {{ title }} </h2>
            <p> {{ description }} </p>
          </div>
        </b-col>
        <b-col cols="12" md="12" lg="6" class="px-0">
          <div class="welcome__woman">
            <div class="entry">
              <a href="/login/google/validate"><button class="entrar"> {{ boton }} </button></a>
              <p class='pt-3'> {{ texto }} </p>
            </div>
          </div>
          <b-container>
            <b-col cols="12">
              <p class="welcome__powered">Powered by <a target='__blank' href="https://eteamer.co/">eteamer.co</a></p>
            </b-col>
          </b-container>
        </b-col>
      </b-row>
      
    </b-container>
  </section>
</template>

<script>

export default {
  name: 'welcome',
  components: {
  },

  data: function () {
    return {
      title: 'Vincúlate a nuestro equipo',
      description: 'Trabaja desde donde quieras sin complicaciones, simplifica tu vida con un trabajo a tu medida',
      boton: 'Estoy listo para unirme',
      texto: 'La gestión de personal y su evaluación se realiza a través de una plataforma, accede y amplia tus oportunidades'
    }
  }

}
</script>

<style lang="scss">

.welcome {
  font-family: 'Poppins', sans-serif;
  // height: 100vh;
  background-color: #FAFBFD;

  &__texto {
    // width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    h2 {
      font-size: 42px;
      color: #063C60;
      margin-bottom: 30px;
      margin-top:30px;
      text-align: center;
      max-width: 400px;
      font-width: 900;
    }

    p {
      max-width: 350px;
      text-align: center;
      display: block;
      font-size: 18px;
    }
  }

  &__woman {
    background-image: url(https://cdn.eteamer.co/img/multimedia/imagenes/fotos/ok.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 50px 0 10px 0;

    .entry {
      display: block;
      text-align: center;
      font-size: 16px;

      .entrar {
        width: 220px;
        height: 45px;
        margin: 10px;
        border: 0;
        border-radius: 27px;
        background-color: #FF6C00;
        color: white;
        text-align: center;

        &:hover {
          background-color: #063C60;
        }
      }

      p {
        font-size: 16px;
        color: #063C60;
        max-width: 450px;
        margin: 0 auto 0;
        padding: 5px 10px;
        background-color: rgba($color: #ffff, $alpha: .7);
      }
    }
  }

  &__powered {
    text-align: center;
    font-size: 14px;
    color: #063C60;

    a {
      text-decoration: none;
      color: #063C60;
      font-weight: 600;

      &:hover {
        color: #FF6C00;
      }
    }
  }
}

</style>
