<template>
  <div>
    <welcome/>
  </div>
</template>

<script>
// @ is an alias to /src
import welcome from '@/components/welcome.vue'

export default {
  name: 'join-us',
  components: {
    welcome
  }
}
</script>
